.singlepage-product {
  &__content {
    margin-bottom: 125px;

    @media (max-width: 767px) {
      margin-bottom: 80px;
    }
  }

  &__sets {
    margin-bottom: 150px;

    @media (max-width: 767px) {
      margin-bottom: 80px;
    }
  }
}