.home {
  &-banner {
    margin-bottom: 160px;
  }

  &-unique {
    margin-bottom: 182px;
  }

  &-sets {
    margin-bottom: 277px;
  }

  &-offer {
    margin-bottom: 190px;
  }

  &-jewel {
    margin-bottom: 192px;
  }

  &-quality {
    margin-bottom: 140px;
  }

  &-contact-form {
    margin-bottom: 73px;
  }
}
