.banner {
  background-color: #020202;
  color: #fff;
  min-height: 1080px;
  position: relative;

  @media (max-width: 1440px) {
    min-height: calc(100vh + 150px);
  }

  @media (max-width: 767px) {
    min-height: auto;
    padding: 100px 0 200px;
  }

  &__prev {
    left: 30px;
    z-index: 4;

    @media (max-width: 767px) {
      left: 0;
    }
  }

  &__next {
    right: 30px;
    z-index: 4;

    @media (max-width: 767px) {
      right: 0;
    }
  }

  &__slider {
    min-height: inherit;
    z-index: 2;
  }

  &__pagination {
    position: absolute;
    bottom: 120px;
    left: 0;
    width: 100%;
    z-index: 4;
  }
}

.banner-slide {
  position: relative;
  min-height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  @media (max-width: 1440px) {
    padding: 0 60px;
  }

  @media (max-width: 767px) {
    padding: 0 20px;
  }

  &__title {
    font-size: 70px;
    line-height: 104%;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    @media (max-width: 1440px) {
      font-size: 50px;
    }

    @media (max-width: 767px) {
      font-size: 28px;
    }
  }

  &__text {
    padding-top: 161px;

    &:not(:last-child) {
      margin-bottom: 50px;
    }

    @media (max-width: 1000px) {
      padding-top: 50px;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 3;
    display: flex;

    @media (max-width: 1000px) {
      flex-direction: column;
      align-items: center;
    }

    &-title {
      max-width: 630px;
      width: 100%;
      margin-right: 132px;

      @media (max-width: 1000px) {
        max-width: 580px;
        margin-right: 0;
      }
    }

    &-content {
      width: 100%;
      max-width: 460px;

      @media (max-width: 1000px) {
        max-width: 580px;
      }
    }
  }

  &__cover {
    user-select: none;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

