.contact-form {
  &__feather {
    position: absolute;
    top: 68px;
    right: 55px;
    font-size: 28px;

    @media (max-width: 767px) {
      top: -20px;
      right: 10px;
      font-size: 3em;
    }
  }

  &__container {
    position: relative;
  }

  &__wrapper {
    border: 2px solid #000;
    padding: 130px 152px 110px;

    @media (max-width: 1000px) {
      padding: 40px 50px;
    }

    @media (max-width: 767px) {
      padding: 20px;
    }
  }

  &__cell {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 1000px) {
      max-width: 580px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__btn {
    margin: 10px 0 25px;
  }

  &__caption {
    font-weight: 300;
    font-size: 11px;
    line-height: 136%;
    opacity: 0.6;
    max-width: 428px;

    @media (max-width: 1000px) {
      max-width: 100%;
    }
  }

  &__link {
    text-decoration: underline;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
  }

  &__title {
    max-width: 458px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.02em;

    @media (max-width: 1000px) {
      max-width: 100%;
    }

    @media (max-width: 767px) {
      font-size: 16px;
      margin-bottom: 2em;
      line-height: 150%;
    }

    & > span {
      display: block;
      margin-top: 0.7em;
    }
  }

  &__field {
    max-width: 304px;
    display: block;
    margin-bottom: 20px;

    @media (max-width: 1000px) {
      max-width: 100%;
    }

    input {
      width: 100%;
    }
  }
}
