.unique {
  &__title {
    margin-top: 213px;
    margin-bottom: 40px;
    max-width: 580px;
  }

  &__text {
    max-width: 428px;
  }

  &__image {
    max-width: 580px;

    &--second {
      margin-top: 170px;
      max-width: 360px;
    }
  }
}
