@import "../common/variables";

.btn {
  padding: 22px 35px;
  text-decoration: none;
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  box-sizing: border-box;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  opacity: 1;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  transition: opacity 300ms;

  &:hover {
    opacity: 0.7;

    .btn__icon {
      transform: translateX(10px);
    }
  }

  @media (max-width: 767px) {
    font-size: 14px;
    padding: 18px 28px;
  }

  &__icon {
    margin-left: 35px;
    font-size: 0.8em;
    transition: transform 300ms;
  }

  &__number {
    margin-left: 35px;
  }

  &--main {
    background-color: $color-main;
    color: #fff;
  }

  &-gray {
    background-color: $color-gray;
    color: #fff;
  }

  &--outline {
    border: 1.5px solid;

    &-main {
      border-color: $color-main;
      color: $color-main;
    }

    &-white {
      border-color: #fff;
      color: #fff;
    }

    &-gray {
      border-color: $color-gray;
      color: $color-gray;
    }
  }
}
