@import "../common/variables";

.mailing {
  &__field {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__input {
    position: relative;
    z-index: 1;
    height: 55px;
    padding: 0 0 0 30px;
    border: none !important;

    &::placeholder {
      font-weight: 600 !important;
      text-transform: none !important;
    }

    &:focus {
      & ~ .mailing__send:before {
        border-color: #9a9a9a;
      }
    }
  }

  &__send {
    height: 55px;
    width: 100%;
    cursor: pointer;
    border: none !important;
    transition: opacity 0.3s;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      top: 0;
      right: 0;
      z-index: 0;
      transition: border-color 300ms;
      border: 1.5px solid #111;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  &__caption {
    position: relative;
    z-index: 1;
    font-size: 1em;
    line-height: 143%;
    letter-spacing: 0.01em;
    opacity: 0.6;
  }
}
