.singlepage-home {
  &__banner {
    margin-bottom: 160px;

    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }

  &__unique {
    margin-bottom: 182px;

    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }

  &__sets {
    margin-bottom: 277px;

    @media (max-width: 767px) {
      margin-bottom: 80px;
    }
  }

  &__offer {
    margin-bottom: 190px;

    @media (max-width: 767px) {
      margin-bottom: 80px;
    }
  }

  &__jewel {
    margin-bottom: 192px;

    @media (max-width: 767px) {
      margin-bottom: 80px;
    }
  }

  &__quality {
    margin-bottom: 140px;

    @media (max-width: 767px) {
      margin-bottom: 80px;
    }
  }

  &__contact-form {
    margin-bottom: 73px;

    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }
}
