@import "../../common/variables";

.offer {
  &__slider {
    position: relative;
    width: 427px;
    height: 427px;

    @media (max-width: 1000px) {
      width: 100%;
      max-width: 580px;
      height: auto;
    }

    @media (max-width: 767px) {
      width: 100%;
      padding: 0 50px;
    }
  }

  &__next {
    @media (max-width: 1560px) {
      right: -50px;
    }

    @media (max-width: 767px) {
      right: 0;
    }
  }

  &__prev {
    @media (max-width: 1560px) {
      left: -50px;
    }

    @media (max-width: 767px) {
      left: 0;
    }
  }

  &__title {
    margin-top: 96px;
    margin-bottom: 40px;
    max-width: 610px;

    @media (max-width: 1000px) {
      max-width: 580px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
    }

    @media (max-width: 767px) {
      margin-bottom: 16px;
    }
  }

  &__text {
    max-width: 480px;
    min-height: 150px;

    @media (max-width: 1000px) {
      max-width: 580px;
      margin-left: auto;
      margin-right: auto;
    }

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    @media (max-width: 767px) {
      min-height: auto;
    }
  }

  &__links {
    margin-bottom: 90px;
  }
}

.links {
  max-width: 580px;

  @media (max-width: 1000px) {
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    font-family: Playfair Display, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #000;
    padding-bottom: 10px;
    border-bottom: 1.5px solid $color-main;
  }

  &__list {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px 100px;
    max-width: 520px;

    @media (max-width: 1000px) {
      max-width: 580px;
    }

    @media (max-width: 767px) {
      display: block;
    }
  }

  &__item {
    width: calc(50% - 50px);

    @media (max-width: 767px) {
      width: 100%;
    }

    @media (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }

    .link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.02em;

      &__icon {
        font-size: 0.6em;
        margin-right: 0;
      }
    }
  }
}

.card-image {
  @media (max-width: 1000px) {
    margin: 0 auto;
    max-width: 580px;
  }

  @media (max-width: 767px) {
    text-align: center;
  }

  &--screen {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: -5vw;
    margin-top: 180px;

    @media (max-width: 1000px) {
      margin-top: 30px;
    }

    @media (max-width: 1440px) {
      display: block;
    }

    @media (max-width: 1200px) {
      margin-left: 0;
    }

    @media (max-width: 1000px) {
      margin-left: auto;
    }

    /* stylelint-disable no-descending-specificity */
    .card-image__header {
      margin-bottom: 0;
      margin-right: 100px;

      @media (max-width: 1440px) {
        margin-bottom: 20px;
        margin-right: 0;
      }
    }
  }

  &__cover {
    @media (max-width: 1000px) {
      width: 100%;
      max-height: 500px;
      object-fit: cover;
    }
  }

  &__title {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media (max-width: 767px) {
      line-height: 1.2em;
    }
  }

  &__caption {
    font-family: Playfair Display, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.05em;
    opacity: 0.4;

    @media (max-width: 767px) {
      line-height: 1.2em;
      margin-bottom: 1em;
    }
  }

  &__header {
    margin-bottom: 20px;
  }
}
