.quality {
  &__cells {
    @media (max-width: 767px) {
      display: block;
    }
  }

  &__container-title {
    max-width: 637px;

    @media (max-width: 767px) {
      margin-bottom: 1em;
    }
  }

  &__header {
    margin-bottom: 55px;

    @media (max-width: 1000px) {
      max-width: 580px;
      margin-right: auto;
      margin-left: auto;
    }

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  &__main {
    @media (max-width: 1000px) {
      max-width: 580px;
      margin-right: auto;
      margin-left: auto;
    }

    .link {
      &:not(:first-child) {
        margin-top: 50px;
      }
    }
  }

  &__title {
    margin-top: -0.3em;
    letter-spacing: 0.03em;
    line-height: 130%;
  }

  &__container-text {
    max-width: 480px;
  }
}
