.sets {
  &__title {
    margin-bottom: 80px;
    max-width: 618px;

    @media (max-width: 1000px) {
      max-width: 580px;
      margin-right: auto;
      margin-left: auto;
    }

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  &__slider {
    position: relative;

    @media (max-width: 2280px) {
      padding: 0 30px;
    }

    @media (max-width: 1000px) {
      max-width: 580px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__next,
  &__prev {
    top: 40%;
  }

  &__btns {
    display: table;
    margin: 88px auto 0;

    .btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @media (max-width: 767px) {
      margin: 40px auto 0;
    }
  }
}
