.catalog-headline {
  padding: 132px 0 22px;

  &__container {
    @media (max-width: 1000px) {
      max-width: 580px;
    }
  }

  @media (max-width: 767px) {
    padding: 42px 0 22px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__caption {
    font-size: 14px;
    opacity: 0.5;
    max-width: 345px;
    margin: 0 auto;
    position: relative;

    @media (max-width: 1000px) {
      margin: 0 auto;
    }
  }

  &__caption-icon {
    position: absolute;
    left: -40px;
    top: 4px;
    width: 20px;
    height: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #0C0C0C;
    color: #000000;
    font-size: 15px;
    user-select: none;
  }

  &__text {
    margin-bottom: 50px;
    max-width: 580px;
  }
}