@import "../common/variables";

.footer {
  padding: 70px 0;
  font-size: 14px;

  &__privacy {
    &:hover {
      text-decoration: none;
      opacity: 1;
    }
  }

  @media (max-width: 767px) {
    padding: 40px 0 80px;
  }

  &__start {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: start;

    @media (max-width: 1000px) {
      max-width: 580px;
    }

    @media (max-width: 1200px) {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &__navs {
    grid-area: navs;

    @media (max-width: 1000px) {
      max-width: 580px;
    }
  }

  &__end {
    grid-area: end;

    @media (max-width: 1000px) {
      max-width: 580px;
    }
  }

  &__wrapper {
    display: grid;
    justify-content: space-between;
    grid-template-columns: minmax(250px, 280px) 1fr minmax(280px, 430px);
    grid-template-areas: "start navs end";
    grid-gap: 0 150px;

    @media (max-width: 1760px) {
      grid-gap: 0 100px;
    }

    @media (max-width: 1560px) {
      grid-gap: 0 50px;
    }

    @media (max-width: 1460px) {
      grid-gap: 0 30px;
    }

    @media (max-width: 1360px) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "start navs" "end end";
      grid-gap: 100px;
    }

    @media (max-width: 767px) {
      grid-gap: 40px;
    }

    @media (max-width: 1200px) {
      grid-template-columns: 1fr;
      grid-template-areas: "start" "navs" "end";
    }

    @media (max-width: 1000px) {
      justify-items: center;
    }
  }

  &__section {
    display: flex;
    justify-content: space-between;
    grid-gap: 30px;

    &:not(:last-child) {
      margin-bottom: 64px;

      @media (max-width: 767px) {
        margin-bottom: 0;
      }
    }

    @media (max-width: 1200px) {
      flex-wrap: wrap;
    }
  }

  &__section-item {
    width: 182px;

    @media (max-width: 767px) {
      max-width: 240px;
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 40px;
    }
  }

  &__adressess {
    max-width: 305px;

    @media (max-width: 1360px) {
      display: flex;
      max-width: 100%;
      grid-gap: 35px;
    }

    .mailing {
      @media (max-width: 1360px) {
        max-width: 305px;
      }
    }

    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__socials {
    margin: 33px 0 28px;

    @media (max-width: 1360px) {
      margin: 10px 0 37px;
      display: flex;
      align-items: flex-start;
    }
  }

  &__adress {
    max-width: 253px;
    font-weight: 500;
    font-size: 1em;
    line-height: 157%;

    &:not(:last-child) {
      margin-bottom: 35px;
    }

    @media (max-width: 1360px) {
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  &__cult {
    display: block;
    margin-top: 37px;
  }

  &__text {
    font-weight: 500;
    font-size: 1em;
    line-height: 143%;
    letter-spacing: 0.01em;
  }

  &__title {
    text-transform: uppercase;
    display: inline-block;
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
    text-decoration: none;
    opacity: 1;
    line-height: 1em;

    & > span {
      position: relative;
      margin-left: 1em;
      font-size: 0.8em;
      left: 0;
      transition: left 300ms;
    }

    &:hover {
      & > span {
        left: 10px;
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    grid-area: nav;

    a {
      font-weight: 500;
      color: inherit;
      text-decoration: none;
      display: inline-block;
      transition: text-decoration 300ms;

      &:hover {
        opacity: 1;
        text-decoration: underline;
      }

      &:not(:last-child) {
        margin-bottom: 0.8em;
      }
    }
  }

  &__logotype {
    margin-bottom: 150px;

    @media (max-width: 1200px) {
      margin-bottom: 50px;
    }
  }
}
