h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 104%;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 48px;
}

p {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;

  &:not(:last-child) {
    margin-bottom: 0.8em;
  }
}
