h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 104%;

  @media (max-width: 767px) {
    line-height: 150%;
  }
}

h1 {
  font-size: 70px;

  @media (max-width: 767px) {
    font-size: 40px;
  }
}

h2 {
  font-size: 48px;

  @media (max-width: 767px) {
    font-size: 21px;
  }
}

p {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;

  &:not(:last-child) {
    margin-bottom: 0.8em;
  }

  @media (max-width: 767px) {
    font-size: 14px;
  }
}
