.geography {
  &__title {
    line-height: 121%;
    letter-spacing: 0.03em;
    margin-bottom: 40px;
  }

  &__text {
    max-width: 480px;
  }

  &__link {
    margin-top: 50px;
  }

  &__block {
    max-width: 525px;

    @media (max-width: 1000px) {
      max-width: 580px;
      margin: 0 auto;
    }
  }

  &__map {
    margin-top: -110px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1000px) {
      max-width: 580px;
      margin: 0 auto;
    }
  }
}