.singlepage-our-production {
  &__banner {
    margin-bottom: 185px;
  }

  &__classification {
    margin-bottom: 215px;
  }

  &__palette {
    margin-bottom: 265px;
  }

  &__offer {
    margin-bottom: 165px;
  }

  &__geography {
    margin-bottom: 210px;
  }

  &__card-image {
    margin-bottom: 150px;
  }

  &__quality {
    margin-bottom: 200px;
  }

  &__certificates {
    margin-bottom: 188px;
  }

  &__reviews {
    margin-bottom: 150px;
  }

  &__best-product {
    margin-bottom: 250px;
  }
}
